/* Coolors Exported Palette - coolors.co/29e7cd-343e3d-607466-aedcc0-7bd389 */

/* HSL */
$color1: hsla(172%, 80%, 53%, 1);
$color2: hsla(174%, 9%, 22%, 1);
$color3: hsla(138%, 9%, 42%, 1);
$color4: hsla(143%, 40%, 77%, 1);
$color5: hsla(130%, 50%, 65%, 1);

/* RGB */
$color1: rgba(41, 231, 205, 1);
$color2: rgba(52, 62, 61, 1);
$color3: rgba(96, 116, 102, 1);
$color4: rgba(174, 220, 192, 1);
$color5: rgba(123, 211, 137, 1);